/*csslint bulletproof-font-face:false,ids:false,overqualified-elements:false,qualified-headings:false,unique-headings:false,universal-selector:false*/
@font-face {
  font-family: "Afta Serif";
  font-weight: 300;
  src: url("../assets/fonts/aftaserifthin-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Arcon";
  font-weight: 300;
  src: url("../assets/fonts/arcon-regular-webfont.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited,
a:visited:hover {
  border: 1px solid #f6bb42;
  color: inherit;
  padding: 10px 15px;
  text-decoration: none;
}

a:hover {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease-in-out;
}

body {
  color: #654e21;
  font-family: "Afta Serif", Arial, Helvetica, sans-serif;
  font-size: 16px;
  position: relative;
}

footer {
  background-color: #434a54;
  color: #ffffff;
  padding-top: 50px;
  text-align: center;
}

h1,
h2,
h3 {
  color: #f6bb42;
  font-family: "Arcon", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h1 {
  color: white;
  font-size: 2.125em;
}

h2 {
  font-size: 1.750em;
  margin: 50px 0 50px;
}

h3 {
  font-size: 1.375em;
}

p {
  margin-bottom: 50px;
}

header > div > div {
  background: url("../assets/background.jpg") 50% 50% no-repeat;
}

header > div > div > div {
  -webkit-align-items: center;
  align-items: center;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

header > div > div > div > div > p {
  font-size: 1.375em;
}

section > div > div {
  margin: 0 auto;
  max-width: 768px;
  padding: 50px;
}

section > div > div > div {
  text-align: center;
}

section > div > div > div > a {
  background-color: #f6bb42;
  padding: 10px 15px;
}

#modal {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
}

#modal > div {
  background-color: #ffffff;
  margin-top: 15%;
  padding: 25px;
  text-align: center;
}

#modal > div > a {
  border: none;
  text-decoration: underline;
}

#modal > div > p {
  margin: 0;
}

#mc_embed_signup {
  display: inline-block;
}

#mc_embed_signup > form {
  text-align: center;
}

#mc_embed_signup_scroll input.button {
  display: inline-block;
}

#mc_embed_signup_scroll input.email {
  min-width: 256px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}

a[title="SumoMe"] {
  visibility: hidden;
}